<main>
  <div *ngIf="items$ | async as items; else loading">
    <mat-card *ngFor="let item of items$ | async">
      <mat-card-header>
        <mat-card-title>{{ item.name }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        {{ item.description }}
      </mat-card-content>
      <mat-card-actions>
        <a mat-raised-button href="{{ item.url }}" color="primary">More</a>
      </mat-card-actions>
    </mat-card>
  </div>
  <ng-template #loading>
    <div class="app-flex-centered">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
</main>
