<app-button-animation></app-button-animation>
<app-enter-leave-animation></app-enter-leave-animation>

<mat-card>
  <mat-card-title>Routing Animations</mat-card-title>
  <mat-card-content>
    <div [@routeAnimations]="prepareRoute(outlet)" class="router-container">
      <router-outlet #outlet="outlet"></router-outlet>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <a mat-button routerLink="flyin">FlyIn</a>
    <a mat-button routerLink="scale">Scale</a>
    <a mat-button routerLink="fade">Fade</a>
    <a mat-button routerLink="none">None</a>
  </mat-card-actions>
</mat-card>
