<div class="containers" cdkDropListGroup>
  <mat-card *ngFor="let list of lists">
    <mat-card-header>
      <mat-card-title>{{ list.name }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div
        class="contents"
        cdkDropList
        [cdkDropListData]="list.list"
        (cdkDropListDropped)="drop($event)"
      >
        <div
          *ngFor="let item of list.list"
          class="card app-flex-centered"
          cdkDrag
        >
          Card {{ item.value }}
          <div class="drag-handle" cdkDragHandle>
            <mat-icon>drag_indicator</mat-icon>
          </div>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <div>Some actions</div>
    </mat-card-actions>
  </mat-card>
</div>
