<mat-card>
  <mat-card-title>Demo Form</mat-card-title>
  <mat-card-content>
    <form class="demo-form" [formGroup]="demoForm">
      <mat-form-field class="span-12">
        <mat-label>Company (disabled)</mat-label>
        <input matInput formControlName="company" />
      </mat-form-field>

      <mat-form-field class="span-6">
        <mat-label>First name *</mat-label>
        <input matInput formControlName="firstName" />
      </mat-form-field>
      <mat-form-field class="span-6">
        <mat-label>Long Last Name That Will Be Truncated</mat-label>
        <input matInput formControlName="lastName" />
      </mat-form-field>

      <ng-container formGroupName="address">
        <mat-form-field class="span-12">
          <mat-label>Address</mat-label>
          <textarea
            matInput
            formControlName="street1"
            placeholder="Ex. 100 Main St"
          >
1600 Amphitheatre Pkwy</textarea
          >
        </mat-form-field>
        <mat-form-field class="span-12">
          <mat-label>Address 2</mat-label>
          <textarea matInput formControlName="street2"></textarea>
        </mat-form-field>

        <mat-form-field class="span-4">
          <mat-label>City</mat-label>
          <input
            matInput
            formControlName="city"
            placeholder="Ex. San Francisco"
          />
          <mat-error>We only like Bern...</mat-error>
        </mat-form-field>

        <mat-form-field class="span-4">
          <mat-label>State</mat-label>
          <input
            matInput
            formControlName="state"
            placeholder="Ex. California"
          />
        </mat-form-field>

        <mat-form-field class="span-4">
          <mat-label>Postal Code</mat-label>
          <input
            matInput
            formControlName="zip"
            #postalCode
            maxlength="5"
            placeholder="Ex. 94105"
          />
          <mat-hint align="end">{{ postalCode.value.length }} / 5</mat-hint>
        </mat-form-field>
      </ng-container>
    </form>
  </mat-card-content>
  <mat-card-actions class="buttons">
    <button
      mat-flat-button
      color="primary"
      [disabled]="!demoForm.valid"
      (click)="doSubmit()"
    >
      Submit
    </button>
    <button
      mat-flat-button
      color="accent"
      [disabled]="!demoForm.valid"
      (click)="doSomething()"
    >
      Do something...
    </button>
  </mat-card-actions>
</mat-card>

<div class="debug-output">
  <h4>Debugging - Form Value (status: {{ demoForm.status }})</h4>
  <textarea>{{ demoForm.value | json }}</textarea>
</div>

<button
  mat-fab
  aria-label="Save"
  color="primary"
  class="floating-button"
  (click)="save()"
>
  <mat-icon>save</mat-icon>
</button>
