<mat-menu #accountMenu="matMenu" xPosition="after">
  <ng-container *ngIf="authenticationService.user$ | async as user">
    <button mat-menu-item disabled="true">{{ user.displayName }}</button>
    <button mat-menu-item (click)="authenticationService.logout()">
      Logout
    </button>
  </ng-container>
  <ng-container *ngIf="(authenticationService.loggedIn$ | async) === false">
    <button mat-menu-item (click)="authenticationService.loginGooglePopup()">
      Login with Google (Popup)
    </button>
    <button mat-menu-item (click)="authenticationService.loginGoogleRedirect()">
      Login with Google (Redirect)
    </button>
  </ng-container>
</mat-menu>

<button mat-icon-button [matMenuTriggerFor]="accountMenu">
  <mat-icon
    [class.not-logged-in]="(authenticationService.loggedIn$ | async) === false"
    >account_circle</mat-icon
  >
</button>
