<div class="container" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="app-name">Progressive Web App - POC</h1>
    <app-account-button></app-account-button>
  </mat-toolbar>

  <mat-sidenav-container
    class="sidenav-container"
    [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
  >
    <mat-sidenav
      #snav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [opened]="!mobileQuery.matches"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56"
    >
      <mat-nav-list>
        <a
          mat-list-item
          routerLink
          routerLinkActive="link--active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Welcome</a
        >
        <a mat-list-item routerLink="demo" routerLinkActive="link--active"
          >Demo</a
        >
        <a
          mat-list-item
          class="link__nested"
          routerLink="demo/form"
          routerLinkActive="link--active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Form</a
        >
        <a
          mat-list-item
          class="link__nested"
          routerLink="demo/list"
          routerLinkActive="link--active"
          [routerLinkActiveOptions]="{ exact: true }"
          >List</a
        >
        <a
          mat-list-item
          class="link__nested"
          routerLink="demo/draganddrop"
          routerLinkActive="link--active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Drag & Drop</a
        >
        <a mat-list-item routerLink="firebase" routerLinkActive="link--active">
          Firebase
        </a>
        <a
          mat-list-item
          class="link__nested"
          routerLink="firebase/authentication"
          routerLinkActive="link--active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Authentication
        </a>
        <a
          mat-list-item
          class="link__nested"
          routerLink="firebase/firestore"
          routerLinkActive="link--active"
          [routerLinkActiveOptions]="{ exact: true }"
          [disabled]="authenticationService.notLoggedIn$ | async"
        >
          <mat-icon *ngIf="authenticationService.notLoggedIn$ | async"
            >lock</mat-icon
          >
          Firestore
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
